.search-bar {
    margin: auto;
    width: 40vw;
    height: 60vh;
    border: 1px solid black;
    align-items: center;
    overflow-x: hidden;
}

.users-to-shown {
    width: 100%;
}

.search-user {
    padding: 10px 20px;
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;

    display: flex;

    &:focus {
        border-color: #007bff;
        outline: none;
    }

    &::placeholder {
        color: #aaa;
    }
}

@media (max-width: calc(778px)) {

    .search-bar {
        position: relative;
        top: 100px;
        width: 90vw;
        overflow-x: hidden;
    }
}