.profile-index {
    grid-area: profileIndex;
    margin: auto;
    padding: 30px;
    grid-column: 2;
    width: 50vw;


    .profile-image {
        height: 166px;
        width: 166px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid rgb(219, 219, 219);
    }

    .profile-header {
        justify-content: space-around;
    }
}


.profile-pics-link {
    align-items: center;
    color: #000;
    cursor: pointer;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    gap: 5px;
    height: 52px;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 18px;
    opacity: .5;

    &.active {
        border-top: 1px solid #000;
        // fill: black;
        opacity: 1;
    }
}

.follow-btn {
    width: 40%;
    color: white;
    height: 30px;

    &:hover {
        opacity: .8;
        cursor: pointer
    }
}

.unfollow-btn {
    width: 40%;
    color: black;
    background-color: white;
    height: 30px;

    &:hover {
        background-color: white;
        opacity: .7;
        cursor: pointer
    }
}

.profile-post-preview {
    height: 30vh;
    object-fit: cover;
}

.profile-post-index {
    grid-gap: 20px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 14vw 14vw 14vw;
    max-width: 961px;
    padding-bottom: 50px;
}

@media (max-width: calc(778px)) {
    .profile-index {
        width: 95vw;
        margin-top: 40px;
    }

    .profile-post-index {
        grid-gap: 81px;
        grid-template-columns: 8vw 8vw 8vw;
    }

    .profile-post-preview {
        min-width: 25vw;
        border-radius: 10px;
    }

    .profile-index {
        .profile-image {
            height: 146px;
            width: 146px;
            object-fit: cover;
            border-radius: 50%;
            border: 5px solid rgb(219, 219, 219);
        }
    }

    .profile-bio {
        margin-left: 10px;
    }
}