.suggested-modal {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 319px;
    height: 300px;

    .logout-btn {
        color: #0095F6;
    }
}

.suggested-modal-name {
    margin-left: 10px;
}

@media (max-width: calc(1160px)) {
    .suggested-modal {
        display: none;
    }
}