// Font Sizes
.fs6 {
  font-size: rem(6px);
}

.fs8 {
  font-size: rem(8px);
}

.fs10 {
  font-size: rem(10px);
}

.fs12 {
  font-size: rem(12px);
}

.fs13 {
  font-size: rem(13px);
}

.fs14 {
  font-size: rem(14px);
}

.fs16 {
  font-size: rem(16px);
}

.fs18 {
  font-size: rem(18px);
}

.fs20 {
  font-size: rem(20px);
}

.fs22 {
  font-size: rem(22px);
}

.fs24 {
  font-size: rem(24px);
}

.fs26 {
  font-size: rem(26px);
}

.fs28 {
  font-size: rem(28px);
}

.fs30 {
  font-size: rem(30px);
}

.fs32 {
  font-size: rem(32px);
}

// Flex Helpers
.flex {
  display: flex;

  >*.full {
    flex: 1;
  }

  .justify-end {
    justify-content: flex-end
  }

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.align-center {
    align-items: center;
  }
}

.login-diviver {
  width: 50px;
  background-color: gray;
  height: 1px;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw300 {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.divider {
  border-top: 1px solid #ccc;
}

.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.graytxt {
  color: #737373;
}

.blacktxt {
  color: #000000;
}

.padding1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding24 {
  padding-block: 24px;
}

.padding32 {
  padding-block: 32px;
}

// Media Helpers
.square-ratio {
  @include aspect-ratio(1, 1);
}

.video-ratio {
  @include aspect-ratio(16, 9);
}

.portrait-ratio {
  @include aspect-ratio(9, 16);
}

.no-drop {
  cursor: no-drop;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.hovunderline:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.profile-img {
  display: inline-block;
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
  cursor: context-menu !important;
  margin: 0 !important;
}

.show-more-btn {
  all: unset;
  cursor: pointer;
  color: #717171;

  &:hover {
    background-color: transparent;
  }
}

.screen-shadow {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.padding0 {
  padding: 0;
}

.marginleft8 {
  margin-left: 8px;
}

.margin8 {
  margin: 20px;
}

.margintop20 {
  margin-top: 20px;
}

.marginbottom10 {
  margin-bottom: 10px;
}

.btn-txt-color {
  color: #0095F6
}