@media (max-width > calc(777px)) {

    .main-container {
        display: grid;
        grid-template-columns: 244px 1fr;
        justify-content: center;
        gap: 20px;
        grid-template-areas: "userController homeIndex";

    }

    .main-container-profile {
        display: grid;
        grid-template-columns: 244px 1fr;
        justify-content: center;
        gap: 20px;
        grid-template-areas: "userController profileIndex";
    }

}

.flex-grow {
    flex-grow: 1;
}

@media (max-width: calc(777px)) {
    .main-container {
        grid-template-columns: 1fr;
        /* Resets to single column */
        // grid-template-rows: 1fr;
        justify-content: center;
        gap: 20px;
        grid-template-areas:
            "userController"
            "homeIndex";
    }

    .user-controller,
    .home-index {
        grid-area: unset;
    }

}

@media (max-width: calc(500px)) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .post-preview {
        max-width: 400px;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: calc(450px)) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .post-preview {
        max-width: 350px;
        width: 90%;
        margin: 0 auto;
    }
}

.home-index {
    grid-area: homeIndex;
    justify-content: center;
}

.user-controller {
    grid-area: userController;
}