.main-container {
    display: grid;
    grid-template-columns: 244px 1fr;
    justify-content: center;
    gap: 20px;
    grid-template-areas: "userController homeIndex";

}

.home-index {
    grid-area: homeIndex;
    justify-content: center;

}

.user-controller {
    grid-area: userController;
}